/* -------begin customization-------- */   

// Colours

$dark: #11151C;
$darkNavy: #212D40;
$navy: #364156;
$lightNavy: #5b667a;
$orange: #D66853;
$green: #25A18E;
$brightGreen: #9FFFCB;

$theme-colors: (
  primary: $orange,
  secondary: $green
);

/* -------end customization-------- */ 

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// Fonts 

@font-face {
  font-family: oxaniumLight;
  src: url("assets/fonts/oxanium/Oxanium-ExtraLight.ttf");
}

@font-face {
  font-family: oxaniumMedium;
  src: url("assets/fonts/oxanium/Oxanium-Medium.ttf");
}

@font-face {
  font-family: oxaniumBold;
  src: url("assets/fonts/oxanium/Oxanium-Bold.ttf");
}

// Global styling

* {
  font-family: oxaniumLight;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  color: $lightNavy;
  background-color: $dark;
  padding: 20px;
}

a {
  text-decoration: none;
  color: $lightNavy;
}

a:hover {
  color: $green;
}

h1 {
  color: $green;
}

img {
  border: 1px solid $orange;
  border-radius: 2px;
  max-width: 90vw;
}


// Shared classes

.text-border {
  border: 1px solid $orange;
  border-radius: 10px;
}

