<form class="container my-3">
  <div class="input-group">
    <input
      class="form-control"
      placeholder="Select date..."
      ngbDatepicker
      #d="ngbDatepicker"
      [footerTemplate]="footerTemplate"
      [maxDate]="maxDate"
      [minDate]="minDate"
      (dateSelect)="onDateSelect($event)"
    />
    <button class="btn btn-outline-secondary" (click)="d.open()" type="button">
      Select Date
    </button>
  </div>
</form>

<ng-template #footerTemplate>
  <hr class="my-0" />
  <button class="btn btn-secondary btn-sm m-2 float-end" (click)="d.close()">
    Close
  </button>
</ng-template>
