<form>
  <div class="form-group">
    <input 
      #d="ngbDatepicker"
      ngbDatepicker
      class="form-control"
      placeholder="Select date..."
      disabled
      [startDate]="startDate"
      [footerTemplate]="footerTemplate"
      (dateSelect)="onDateSelect($event)"
      />
    <button class="btn btn-outline-secondary" (click)="d.open()">Select Date</button>
  </div>
</form>

<ng-template #footerTemplate>
	<hr class="my-0" />
	<button class="btn btn-secondary btn-sm m-2 float-end" (click)="d.close()">Close</button>
</ng-template>